mixin notice(notice)
    li.notice__home-contents-item
        a(href=`/notice/${notice._id}` data-id=notice._id).notice__home-contents-item-link
            div
                p [공지]
                h3=notice.title
            p.notice__home-contents-meta #{new Date(notice.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})} | 조회수 #{notice.views}